header{
    border: 1px solid black;
}
.navbar-nav{
    color:white;
}
.todoHeader{
    display:flex;
    justify-content: center;
}
.formulario{
    position: absolute;
    right: 10px;
}
.boton{
    display:flex;
}
.ultimasNoticias{
    text-align: center;
}
#alerta{
  display:none;
}
#alerta2{
    display:none;
  }
.carta2{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: grey;
    text-align: center;
}
.carta{
    padding: 10px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding:10px;
    margin:5px;
}
#taula{
    display: none;
}
#boton1{
    margin:0px;
}
#boton2{
    margin:-1px;
}
#foro{
    margin:5px;
}
#salir{
    position: absolute;
    right: 10px;
    top:87px;
}
#mapa{
    padding-top: 3rem;
    width:100%;
    height:450px;
}
#simp{
    color: blue;
}
#f0{
    color: #cc0000;
}
#f1{
    color: #e65c00;
}
#f2{
    color: #000080;
}
#f3{
    color: #008000;
}

.coment-info{
    background-color: whitesmoke;
    width: 200px;
    border: solid black 1px;
}

.coment-content{
    background-color: lightblue;
}
.coment-content > p{
    font-size: 18px;
    padding:20px;
}
.coment-avatar{
    height: 100px;
    padding: 1rem;
}

.coment-general{
    padding: 2.5%;
}