header{
    border: 1px solid black;
}
.navbar-nav{
    color:white;
}
.todoHeader{
    display:flex;
    justify-content: center;
}
.formulario{
    position: absolute;
    right: 10px;
}
.boton{
    display:flex;
}
.ultimasNoticias{
    text-align: center;
}